<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Kontak layout</title>
	<link rel="stylesheet" href="style_kontak.css" />
</head>


<body>
	<div id="cointainer">
		<header><h1>Layout Sederhana</h1></header>

	<nav>
		<a href="home.html" class="archive">Home</a>
		<a href="artikel.html">Artikel</a>
		<a href="about.html">About</a>
		<a href="kontak.html">Kontak</a>
	</nav>

	<section id="hero">
		<h1>Kontak</h1>
		<p>	Anda dapat menghubungi saya Bagus tri handono dengan beberapa cara.</p>
	</section>

	<section id="wrapper">
		<section id="main">
			<div class="row">
				<div class="box">
					<img src="fblogo.png" alt="" class="image-circle">
					<h3>@Bagus tri handono</h3>
					<a href="#" class="btn btn-default">View detail</a>
				</div>
				<div class="box">
				  <img src="iglogo.png" alt="" class="image-circle">
				  <h3>@bag602</h3>
					<a href="#" class="btn btn-default">View detail</a>
			  </div>
				<div class="box">
					<img src="gmaillogo.png" width="200px" alt="" class="image-circle">
					<h3 tex-align"center">bagustri00@mhs.pelitabagsa.ac.id</h3>
					<a href="#" class="btn btn-default">View detail</a>
				</div>
			</div>
		</section>
	</section>
	<footer>
			<p>&copy;2022 - Universitas Pelita Bangsa</p>
	</footer>

	</div>
</body>
</html>
